<!--Not using the CTA section for now-->

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Yeji</h2>
                <hr class="light">
                <p class="text-faded">I'm a Product Manager. It's a bit of a loaded title. Below is my latest attempt at explaining what I do.</br></br> 
				You hear of successful products suddenly "catching on." Behind the scenes, someone needs to take the fluffy pie-in-the-sky ideas and bring it to earth by 
				identifying a user problem, a target user, and a solution through continued learning and feedback. Behind the ideas, there are evaluation that must be done to understand whether
	    			the idea is feasible to realize, viable for the business model and operational constraints, and valuable for the customers where their problems are solved ethically. 
	    			</br></br>That's my domain as a Product Manager. I strive to help make that happen.
				</br></br>Outside of work, I like to collect instruments, fountain pens and inks, books, kitchen
				gadgets, board games, foreign language workbooks, video games, and lego sets. I also enjoy setting up self-improvement
				goals by tricking myself into gamifying the tasks.</p>
            </div>
        </div>
    </div>
</section>
