<!--Not using the CTA section for now-->

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Yeji</h2>
                <hr class="light">
                <p class="text-faded">I'm a Product Manager. It's a bit of a loaded title for those who are (<i>and aren't</i>) in the know. Broadcasting my 
				imposter syndrome to the world, I see myself iterating and refining the domain and success of my role to date. Here is my attempt. </br></br> 
				You hear of successful products suddenly "catching on." Behind them are people who took the fluffy idea-in-the-sky and brought it to earth by 
				identifying a problem, a user, and a solution through continued learning and feedback. That's my domain as a Product Manager. I strive to help make that happen.
				</br></br>Outside of work, I like to collect instruments, fountain pens and inks, books, kitchen
				gadgets, board games, foreign language workbooks, video games, and lego sets. I also enjoy setting up self-improvement
				goals by tricking myself into gamifying the tasks.</p>
            </div>
        </div>
    </div>
</section>
