<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <h1>My name is Yeji (<i>"yay-jee"</i>)</h1>
    <div style="width: 60px; height: 1px; margin-top: 0.35em; background-color: #C89FA9;"></div>

    <h3>I'm looking to understand the chronically stressed and burnt out professionals.</h3>
    <p> I'd love to have a 20-minute conversation to get to know you and your problems. In exchange for your time,
    we can role play and strategize through a concrete problem that's affecting your mental health.<br><br>

    Past examples include managing up to a boss who doesn't give you any feedback,
    talking to a stakeholder who undermines your decision, and confronting a roommate who
    doesn't do their fair share of the household chores.</p><hr>

    <h3>Why am I doing this?</h3>
    <p>I'm tired of the never-ending loop of stressors that plague my mental health
       and the self-care bandaids. I want to meet people feeling the same way and see what I can build to help.</p>

   <a href="https://calendly.com/kimbarros/user-research" class="button" target="_blank">Schedule a call</a>
</body>
</html>
