<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <h1>My name is Yeji (<i>"yay-jee"</i>)</h1>
    <div style="width: 60px; height: 1px; margin-top: 0.35em; background-color: #C89FA9;"></div>

    <h3>I'm looking to understand the chronically stressed and burnt out professionals.</h3>
    <p> Are the demands of work and life taking a toll on your mental well-being?
    Have you tried countless hours of meditation, mindfulness exercises, and journaling without finding relief? I'd love to understand your problems.
    </p><hr>

    <h3>Can you tell me what's happening on a video call?</h3>
    <p>I'd love to have a 20-minute conversation to get to know you and your problems. In exchange for your time,
    we can role play and strategize through a concrete problem that's affecting your mental health.<br><br>

    Past examples include managing up to a boss who doesn't give you any feedback,
    talking to a stakeholder who undermines your decision, and confronting a roommate who
    doesn't do their fair share of the household chores.</p><hr>

    <h3>Why am I doing this?</h3>
    <p>I'm building a live, cohort-based mental health strengthening platform for young professionals.
      The sessions are hosted via videos with group exercises around topics that allow
      everyone to grow both personally professionally together. Let's lift each other up and rise together!</p>

   <a href="https://calendly.com/kimbarros/user-research" class="button" target="_blank">Schedule a call</a>
</body>
</html>
