<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <h1>Product Intuition Consultant & Coach</h1>
    <div style="width: 60px; height: 1px; margin-top: 0.35em; background-color: #C89FA9;"></div>

    <h3>Growing your product intuition is hard.</h3>
    <p>Building a product takes more than achieving product-market fit. As a product matures,
     PMs must continuously refine their intuition through collaboration, research, and strategy evaluation.
      While that's rewarding, it can also be stressful and confusing. I've been there. And
      I can offer my perspectives and help with the discovery process.</p><hr>

    <h3>I got you.</h3>
    <p>With each engagement, product managers will build up their
      product muscles and develop skills they need to make informed decisions on what
      to do and why in order to drive growth and engagement. As we approach problems together,
      you will find new ways to work and communicate effectively beyond the Agile platitudes.</p><hr>

    <h3> Why should you trust me?</h3>
    <p>I've launched successful products, built teams from the ground up,
      introduced iterative product thinking to c-suite executives, and found aha moments in products across multiple
      customer segments ranging from mom and pop stores, major B2B vendors, and even high school students.
      Most importantly, I have real-world experience in product successes <i>and failures</i>.</p>

   <a href="{{ site.baseurl }}/contact.html" class="button">Get in touch</a>
</body>
</html>
